<header>
  <h1>My Dog Ate My API</h1>
  <p>Where you can find the best doggone excuses on the web!</p>
  <div>
    <nav>
      <ul>
        <li><a href="/excuses/random">Generate Random Excuse</a></li>
        <li><a href="/users/signup">Sign Up</a></li>
        <li><a href="/users/login">Log In</a></li>
      </ul>
    </nav>
  </div>
</header>
